name: android

on : [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: python command
        run: |
          import platform
          print
          (platform.processor())
          shell: python