name: artifacts

on: [push]
jobs:
  example:
    runs-on: ubuntu-latest
    name: Save output
    steps:
      - shell: bash
        run: |
          expr 1 + 1 > output.log
      - name: Upload output file
        uses: actions/upload-artifact@v3
    
      - name: steps_succed
        if: ${{ cancelled()}}