name: Greeting on variable day

on: [push]

env:
  DAY_OF_WEEK: Monday

jobs:
  greeting_job:
    runs-on: ubuntu-latest
    env:
      Greeting: Hello
    steps:
      - name: push random file
        run: |
          pwd
          ls -a
          git init
          git remote add origin "https://$GITHUB_ACTOR:${{secrets.GITHUB_TOKEN }}@github.com/
          $GITHUB_REPOSITORY.git"
          git config --global user.email "siddukankanawadi6@gmail.com"
          git config --global user.name "siddu"
          git fetch
          git checkout master
          git branch --set-upstream-to=origin/master
          git pull_requestls --globalechop $RANDOM >> random.txt
          ls -a
          git add -agit commit -m "random file"
          git push
        
      - name: "Say Hello Mona it's Monday"
        run: echo "$Greeting $First_Name. Today is $DAY_OF_WEEK!"
        env:
          First_Name: Mona
      - name : "env variables"    
        run: echo "$GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID"